*~
*.[ao]
*.l[ao]
Makefile
Makefile.in
.deps
.libs
/aclocal.m4
/autom4te.cache
/config.*
/configure
/libtool
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/libbitu.pc
/src/bitu
/src/bituctl
/src/test-plugin
/src/test-server
/src/test-util
/src/test-conf
/src/test-transports
/plugins/hello/test
/plugins/cpuinfo/test
/plugins/uptime/test
